<div class="svg">
  <svg
    xmlns="https://www.w3.org/2000/svg"
    xmlns:cc="https://creativecommons.org/ns#"
    xmlns:rdf="https://www.w3.org/1999/02/22-rdf-syntax-ns#"
    version="1.1">
    <defs>
      <style type="text/css">{{svg_styles}}</style>
    </defs>
    <metadata>
      <rdf:RDF>
        <cc:License rdf:about="https://creativecommons.org/licenses/by/3.0/">
          <cc:permits rdf:resource="https://creativecommons.org/ns#Reproduction" />
          <cc:permits rdf:resource="https://creativecommons.org/ns#Distribution" />
          <cc:requires rdf:resource="https://creativecommons.org/ns#Notice" />
          <cc:requires rdf:resource="https://creativecommons.org/ns#Attribution" />
          <cc:permits rdf:resource="https://creativecommons.org/ns#DerivativeWorks" />
        </cc:License>
      </rdf:RDF>
    </metadata>
  </svg>
</div>
<div class="progress">
  <div style="width:0;"></div>
</div>
